.parallax-bg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-bg img {
    position: relative;
  /* height: 50vh; */
  /* width: 50vw; */
  /* transform: translateZ(-1px) scale(2); */
    transform: translateZ(-2px);
}