:root {

  --tech-icon-size: 60px;
  --nav-link-spacing: 31px;
  --nav-bubble-size: 30;
  --border-shadow-height: 40px;

  --landing-text: rgb(64, 40, 36);
  --landing-card: rgba(239, 132, 50, 0.8); 
  --landing-card-shadow: rgba(64, 40, 36, 0.8);

  --about-text: rgb(4, 25, 15);
  --about-card: rgba(120, 151, 171, 0.8); 
  --about-card-shadow: rgba(4, 25, 15, 0.8);
  
  --technologies-text: rgb(64, 40, 36);
  --technologies-card: rgba(239, 132, 50, 0.8); 
  --technologies-card-shadow: rgba(64, 40, 36, 0.8);

  --projects-text: rgb(64, 40, 36);
  --projects-card: rgba(239, 132, 50, 0.8); 
  --projects-card-shadow: rgba(64, 40, 36, 0.8);

  --contacts-text: rgb(64, 40, 36);
  --contacts-card: rgba(239, 132, 50, 0.8); 
  --contacts-card-shadow: rgba(64, 40, 36, 0.8);

  --technologies-icon-size: 50px;
}


/******************************
****GLOBAL-ISH SETTINGS********
******************************/

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 40px 10px;
  justify-content: center;
}

.card {
  border-radius: 5px;
  background: var(--bgcolor);
  box-shadow: 3px 5px 10px 2px var(--shadow);
}

.blur-border {
  box-shadow: 0 0 45px 40px black;
  width: 100%;
  z-index: 10;
}

.section-title {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 20px 100px;
  margin: 0 10px 60px;
  background: var(--bgcolor);
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus {
  color: white;
  border: 1px solid red;
}


/******************************
****HEADERS********************
******************************/

h1 {
  font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 23px;
}

/******************************
****SECTION THEMES*************
******************************/

  /****LANDING****/
.landing {
  color: rgb(64, 40, 36);
  --bgcolor: rgba(239, 132, 50, 0.8);
  --shadow: rgba(64, 40, 36, 0.8);
}

.landing-bg {
  background: url('./assets/bgs/beach-clouds-dawn-754122.jpg');
}

  /****ABOUT****/
.about {
  color: rgb(205, 223, 229);
  --bgcolor: rgba(4, 25, 15, 0.8);
  --shadow: rgba(205, 223, 229, 0.8);
}

.about-bg {
  background: url('./assets/bgs/ocean_bg2.jpg');
}

  /****TECHNOLOGIES****/
.technologies {
  color: rgb(6, 79, 80);
  fill: rgb(6, 79, 80);
  --bgcolor: rgba(119, 163, 162, 0.8);
  --shadow: rgba(36, 80, 79, 0.8);
}

.technologies-bg {
  background: url('./assets/bgs/ocean-1845110_1920.jpg');
}

  /****PROJECTS****/
.projects {

}

.projects-bg {
  background: url('./assets/bgs/aquarium-jellyfishes-underwater-20790.jpg');
}

  /****CONTACTS****/
.contacts {
  color: rgb(57, 177, 243);
  --bgcolor: rgba(2, 22, 81, 0.8); 
  --shadow: rgba(57, 177, 243, 0.8);
}

.contacts-bg {
  background: url('./assets/bgs/aquatic-beautiful-biology-920157.jpg');
}



.section-bg {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.landing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row;
}

.landing-title {
  /* margin-top: auto;
  margin-bottom: auto; */
  /* margin-right: 55%; */
  background: var(--bgcolor);
  /* color: var(--landing-text); */
  box-shadow: 3px 5px 10px 2px var(--shadow);
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 15px;
}

.landing::after {
  content: '';
  width: 55%;
  min-width: 20px;
}

.about-contents {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--bgcolor);
  padding: 20px;
  width: 60%;
  text-align: center;
}

.about-contents > * {
  margin-bottom: 15px;
}

.technologies-contents {
  display: flex;
  /* justify-content: space-between; */
  /* width: 70%; */
}

.technologies-group {
  width: 220px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 30px;
}

.technologies-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: var(--technologies-icon-size);
  margin-bottom: 20px;
}

.technologies-row div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies-row > *, .technologies-row img {
  max-width: var(--technologies-icon-size);
  max-height: var(--technologies-icon-size);
}

.technologies-group h5 {
  padding-top: 10px;
}

.contacts-contents {
  max-width: 80%;
  display: flex;
  background: var(--bgcolor);
}

.contacts-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}

.contacts-column h6 {
  padding-bottom: 8px;
}

/* .landing::before {
  width: 100%;
  height: 100%;
  content: '55';
  display: flex;
  flex-grow: 1;
  min-width: 10px;
  background: blue;
}

.landing::after {
  width: 100%;
  height: 100%;
  content: '55';
  display: flex;
  flex-grow: 10;
  min-width: 30px;
  background: blue;
} */

/* .svg-divider {
  width: 100%;
  height: 20px;
} */