:root {

  --tech-icon-size: 60px;
  --nav-link-spacing: 31px;
  --nav-bubble-size: 30;
  --border-shadow-height: 40px;

  --landing-text: rgb(64, 40, 36);
  --landing-card: rgba(239, 132, 50, 0.8); 
  --landing-card-shadow: rgba(64, 40, 36, 0.8);

  --about-text: rgb(205, 223, 229);
  --about-card: rgba(4, 25, 15, 0.8); 
  --about-card-shadow: rgba(205, 223, 229, 0.8);
  
  --technologies-text: rgb(6, 79, 80);
  --technologies-card: rgba(119, 163, 162, 0.8); 
  --technologies-card-shadow: rgba(36, 80, 79, 0.8);

  /* --projects-text: rgb(253, 163, 151); */
  --projects-text: rgb(46, 30, 32);
  /* --projects-text: rgb(94, 79, 77); */
  /* --projects-text: rgb(206, 124, 106); */
  --projects-card: rgba(228, 222, 218, 0.8); 
  --projects-card-shadow: rgba(253, 163, 151, 0.8);

  --contacts-text: rgb(57, 177, 243);
  --contacts-card: rgba(2, 22, 81, 0.8); 
  --contacts-card-shadow: rgba(64, 40, 36, 0.8);

  --technologies-icon-size: 50px;
}


/******************************
****GLOBAL-ISH SETTINGS********
******************************/

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  /* align-items: center; */
  /* width: 100%; */
}

.section {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  padding: 80px 3%;
  justify-content: center;
  align-items: center;
  /* max-width: 600px; */
}

.section-content {
  width: 85%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid greenyellow; */
}

.card {
  border-radius: 5px;
  background: var(--bgcolor);
  box-shadow: 3px 5px 10px 2px var(--shadow);
}

.blur-border {
  box-shadow: 0 0 45px 40px black;
  width: 100%;
  z-index: 1;
}

.section-title {
  /* border: 1px solid red; */
  display: flex;
  padding: 10px 0;
  /* padding: 20px 100px; */
  width: 100%;
  margin: 0 10px 60px;
  background: var(--bgcolor);
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus {
  color: white;
  border: 1px solid red;
}

.disable-selection, .section-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/******************************
****HEADERS********************
******************************/

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 23px;
}

/******************************
****SECTION THEMES*************
******************************/

  /****LANDING****/
.landing {
  color: rgb(64, 40, 36);
  --bgcolor: rgba(239, 132, 50, 0.8);
  --shadow: rgba(64, 40, 36, 0.8);
}

.landing-bg {
  background: url('./assets/bgs/beach-clouds-dawn-754122.jpg');
}

  /****ABOUT****/
.about {
  color: var(--about-text);
  --bgcolor: var(--about-card);
  --shadow: var(--about-card-shadow);
}

.about-bg {
  background: url('./assets/bgs/ocean_bg2.jpg');
}

  /****TECHNOLOGIES****/
.technologies {
  color: var(--technologies-text);
  fill: var(--technologies-text);
  --bgcolor: var(--technologies-card);
  --shadow: var(--technologies-card-shadow);
}

.technologies-bg {
  background: url('./assets/bgs/ocean-1845110_1920.jpg');
  height: 120vh
}

  /****PROJECTS****/
.projects {
  /* text-shadow: -1px 0 rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.6), 1px 0 rgba(0, 0, 0, 0.6), 0 -1px rgba(0, 0, 0, 0.6); */
  color: var(--projects-text);
  --bgcolor: var(--projects-card);
  --shadow: var(--projects-card-shadow);
}

.projects-bg {
  background: url('./assets/bgs/aquarium-jellyfishes-underwater-20790.jpg');
}

  /****CONTACTS****/
.contacts {
  color: var(--contacts-text);
  --bgcolor: var(--contacts-card); 
  --shadow: var(--contacts-card-shadow);
}

.contacts-bg {
  background: url('./assets/bgs/aquatic-beautiful-biology-920157.jpg');
}

.section-bg {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row;
}

.landing-title {
  /* margin-top: auto;
  margin-bottom: auto; */
  /* margin-right: 55%; */
  background: var(--bgcolor);
  /* color: var(--landing-text); */
  box-shadow: 3px 5px 10px 2px var(--shadow);
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 15px;
}

.landing::after {
  content: '';
  width: 55%;
  min-width: 20px;
}

.about-contents {
  margin: 0 3vw;
  padding: 10px;
  background: var(--bgcolor);
}

.about-contents > h5 {
  text-align: center;
}

.about-contents > * {
  margin-bottom: 15px;
}


  /****TECHNOLOGIES****/
.technologies-note-popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.technologies-note-popup-card {
  width: 95vw;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.technologies-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: center; */
  margin: -50px -200px 0;
  /* border: 1px solid red; */
  width: calc(100% + 60px);
}

.technologies-group {
  width: 220px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  margin: 50px 30px 0;
}

.technologies-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: var(--technologies-icon-size);
  margin-bottom: 20px;
}

.technologies-row div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies-row > *, .technologies-row img {
  max-width: var(--technologies-icon-size);
  max-height: var(--technologies-icon-size);
}

.technologies-group h5 {
  padding-top: 10px;
}

.technologies-comment {
  margin-top: 60px;
  padding: 20px 40px;
  max-width: 100%;
  transition: all 1s ease-in-out;
  white-space: pre-line; /* I find the necessity of this line to be particularly stupid*/
}

  /****CONTACTS****/
.contacts-contents {
  /* max-width: 90%; */
}

.contacts-main-card {
  display: flex;
  flex-wrap: wrap;
  background: var(--bgcolor);
}

.contacts-column {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.contacts-column h6 {
  padding-bottom: 8px;
}
